.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

header, footer{
    background-color: lightsteelblue;
    /* Fondo de la "caja" */
    color: rgb(7, 6, 6);
    /* color de letra */
}

.nombre,
.contacto ul {
    list-style-type: none;
    /* Para quitar los puntos negro del lado izquierdo  */
    margin-right: 4rem;
    margin-left: 2rem;
    /* Desde el borde de la "caja" hacia afuera  */
}

.nombre h1,
.nombre h2,
.nombre h3 {
    margin: 0; /* Elimina los márgenes */
    padding: 0; /* Elimina el padding */
    margin-top: 16px;
}

.nombre h1 {
    margin-bottom: -20px; /* Ajusta el margen inferior según sea necesario */
}

.nombre h2 {
    margin-bottom: -15px; /* Ajusta el margen inferior según sea necesario */
}

.contacto li {
    margin-bottom: 3px; /* Ajusta el valor según sea necesario */
}

a {
    text-decoration: none;
    /* Para quitar las lineas de los hipervinculos  */
    color: rgb(7, 6, 6);
    /* Para quitar el color azul de los hipervinculos  */
}

main {
    padding-left: 1rem;
    padding-top: 0.5rem;
}

.section1 {
    width:100%
        /* Comprime el texto  */
}

.section2{
    padding-left: 1rem;
    padding-top: 0;
}

.section3{
    padding-top: 0.1rem;
    margin-left: 11rem;
    margin-right: 0;
    width: 50%
   /* font-size: medium; */

}

.footer{
    margin-right: 2rem;
    margin-left: 2rem;
}