html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Desactiva el scroll horizontal */
}

body {
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: lightsteelblue;
    color: rgb(7, 6, 6);
}

main {
    flex: 1;
    padding-left: 2rem;
    padding-top: 0rem;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.nombre,
.contacto ul {
    list-style-type: none;
    /* Para quitar los puntos negro del lado izquierdo  */
    margin-right: 3rem;
    margin-left: 3rem;
    /* Desde el borde de la "caja" hacia afuera  */
}

.nombre h1,
.nombre h2,
.nombre h3 {
    margin-top: 16px;
}

.nombre h1 {
    margin-bottom: -20px; /* Ajusta el margen inferior según sea necesario */
}

.nombre h2 {
    margin-bottom: -15px; /* Ajusta el margen inferior según sea necesario */
}

.contacto h3{
     margin-top: 1.7rem;
}

.contacto li {
    margin-bottom: 3px; /* Ajusta el valor según sea necesario */
}

a {
    text-decoration: none;
    /* Para quitar las lineas de los hipervinculos  */
    color: rgb(7, 6, 6);
    /* Para quitar el color azul de los hipervinculos  */
}

main {
    padding-left: 2rem;
    padding-top: 0rem;
}

.section1{
    width: 80%
        /* Comprime el texto  */
}

.section2{
    margin-top: 3.8rem;
    margin-left: 4rem;
    width: 70%
}

.section2 h4 {
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}

.section2 p{
    margin-bottom: 1rem;
    margin-top: 10px;
}

.section3 {
    margin-top: 1rem;
    margin-left: 4rem;
    width: 70%
}

.section3 h4 {
    margin-top: 1rem;
    margin-bottom: -10px;
}

.footer{
    margin-right: 2rem;
    margin-left: 2rem;
}