.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

header, footer{
    background-color: lightsteelblue;
    /* Fondo de la "caja" */
    color: rgb(7, 6, 6);
    /* color de letra */
    margin-top: 0rem;
    margin-bottom: 0rem;
    /* Desde el borde de la "caja" empuja hacia dentro  */
}

.nombre,
.contacto ul {
    list-style-type: none;
    /* Para quitar los puntos negro del lado izquierdo  */
    margin-right: 4rem;
    margin-left: 2rem;
    /* Desde el borde de la "caja" hacia afuera  */
}

a {
    text-decoration: none;
    /* Para quitar las lineas de los hipervinculos  */
    color: rgb(7, 6, 6);
    /* Para quitar el color azul de los hipervinculos  */
}

main {
    padding-left: 1rem;
    padding-top: 0 rem;
}

.section1 {
    width: 55%
        /* Comprime el texto  */
}

.section2{
    padding-left: 1rem;
    padding-top: 0 rem;
}

.section3 {
    width: 65%
   /* font-size: medium; */
}

.footer {
    margin-right: 2rem;
    margin-left: 2rem;
}